<div class="post-info">
    {{- if .PublishDate }}
        <br>
        <span><time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}

    {{if .Params.Categories}}
      in category
      {{ $taxonomy := "categories" }}
      {{ with .Param $taxonomy }}
          {{ range $index, $tag := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
              <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
            {{- end -}}
          {{- end -}}
      {{ end }}
    {{end}}
</div>

