
{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ with $img }}
    {{ $big := .Fill "1024x300 top" }}
    {{ $small := $big.Resize "512x" }}
    <img srcset="{{ $small.RelPermalink }} 1x, {{ $big.RelPermalink }} 2x" alt="{{ $img.Title }}" width="{{ $big.Width }}"  class="mw-100 b--light-gray ba">
{{ end }}
<div class="post-info">
    {{- if .PublishDate }}
        <br>
        <span><time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}

    {{if .Params.Categories}}
      in category
      {{ $taxonomy := "categories" }}
      {{ with .Param $taxonomy }}
          {{ range $index, $tag := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
              <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
            {{- end -}}
          {{- end -}}
      {{ end }}
    {{end}}
</div>

