<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    {% assign title = post.title %}
    {% else %}
    {% assign title = page.title %}
    {% endif %}

    {% if title %}
    <title>{{ title }} | Developer 2.0</title>
    {% else %}
    <title>Developer 2.0</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    {% include head_keywords.html %}

    <script type='text/javascript'>
        /* <![CDATA[ */
        var countVars = {"disqusShortname":"developer-2-0"};
        /* ]]> */
    </script>

    {% include head_ga.html %}
</head>
<body>

<div class="site-header">
    <div class="container">
        <img src="/assets/images/logo.jpg" />
    </div>
</div>
{% include menu.html %}