<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    {% assign title = post.title %}
    {% else %}
    {% assign title = page.title %}
    {% endif %}

    {% if title %}
    <title>{{ title }} | Developer 2.0</title>
    {% else %}
    <title>Developer 2.0</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    {% include head_keywords.html %}
    <link rel="alternate" type="application/rss+xml" title="Developer 2.0 blog" href="/feed.xml" />

    <script type='text/javascript'>
        /* <![CDATA[ */
        var countVars = {"disqusShortname":"developer-2-0"};
        /* ]]> */
    </script>

    <meta name="twitter:title" content="{{ title }}">
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:creator" content="@0Developer2">
    {% if page.mainPhoto %}
    <meta name="twitter:image" content="/assets/posts/{{page.mainPhoto}}">
    <meta property="og:image" content="/assets/posts/{{page.mainPhoto}}" />
    {% endif %}

    <meta name="twitter:domain" content="developer20.com">

    {% include head_ga.html %}
</head>
<body>

<div class="site-header">
    <div class="container">
        <img src="/assets/images/logo.jpg" />
    </div>
</div>
{% include menu.html %}
