<div class="right-box">
    <h4>Recent posts</h4>
    <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    {% include newsletter.html %}

    <h4>You can find me</h4>
	<ul>
		<li><a href="https://twitter.com/0Developer2">on Twitter</a></li>
		<li><a href="https://www.facebook.com/developer.two.zero/">on Facebook</a></li>
		<li>or just <a href="mailto:bklimczak@developer20.com">mail me</a> :)</li>
	</ul>
</div>
