<div class="navbar">
    <a href="/">Home</a>
    <a href="/newsletter">Newsletter</a>
    <div class="dropdown">
        <button class="dropbtn">Categories
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/categories/Golang/">Golang</a>
            <a href="/reviews/">Books reviews</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">My projects
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/projects/gobdd/">GoBDD</a>
            <a href="/projects/cyclop/">Cyclop</a>
        </div>
    </div>
    <a href="{{ "about-me" | relURL }}">About me</a>
    <a href="/index.xml">RSS</a>
    <div class="search">
        <div class="autocomplete">
            <input id="search" type="text" name="search" placeholder="Search">
        </div>
    </div>
</div>
