{% include head.html %}

<div class="container">
    <div class="row">
        <div class="col-9 blog-post">
            {% if page.mainPhoto %}
            <img src="/assets/posts/{{page.mainPhoto}}" class="img-fluid" />
            {% endif %}
            <h1>{{ page.title }}</h1>
	    <a href="https://twitter.com/0Developer2?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @0Developer2</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ content }}

            {% include tags.html %}
            {% include post_categories.html %}

            {% include author.html %}

            {% include comments.html %}
        </div>
        <div class="col-3">
            {% include right_box.html %}
        </div>

    </div>
</div>

{% include footer.html %}
